<div class="p-4 ">
    <h5 class="mb-3">{{ isEditMode ? 'Edit Media Type' : 'Add Media Type' }}</h5>
    <form (ngSubmit)="onFormSubmit()" #mediaForm="ngForm">
      <div class="row g-3">
        
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Type Name</mat-label>
            <input matInput [(ngModel)]="formModel.typeName" name="typeName" required placeholder="Enter Type Name" minlength="3"
              autocomplete="off" />
            @if (mediaForm.submitted && !formModel.typeName) {
              <mat-error >Type Name is required</mat-error>
            }
          </mat-form-field>
        </div>
        
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="form-field w-100">
            <mat-label>Extension</mat-label>
            <input matInput [(ngModel)]="formModel.extension" name="extension" required placeholder="e.g. .pdf" minlength="3"
              autocomplete="off" />
              @if (mediaForm.submitted && !formModel.extension) {
              
                <mat-error>Extension is required</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="d-flex align-items-end gap-2">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="mediaForm.invalid"
            class="btn btn-primary w-100"
          >
            {{ isEditMode ? 'Update' : 'Add' }}
          </button>
          <button mat-stroked-button type="button" (click)="cancelForm()" class="w-100 btn btn-outline-danger">
            Cancel
          </button>

        </div>
      </div>
    </form>
  </div>