<div class="p-5">

<h2 mat-dialog-title>Reset Password</h2>

<form [formGroup]="passwordForm" mat-dialog-content class="pt-2">
    <mat-form-field class="w-100 mb-3" appearance="outline">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput formControlName="oldPassword" >

        @if (oldPass.touched && oldPass.errors) {
            <mat-error>Old Password is required</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="w-100 mb-3" appearance="outline"> 
        <mat-label>New Password</mat-label>
        <input type="password" matInput formControlName="newPassword">
        @if (newPass.touched && newPass.errors) {
            <mat-error>New Password is Required & should have 1 number and symbol</mat-error>
        }
    </mat-form-field>

    <div class="d-flex align-items-end gap-2">
        <button mat-button (click)="Cancel()" class="btn btn-outline-danger w-100">Cancel</button>
    <button mat-flat-button (click)="submitForm()" class="btn btn-primary w-100" [disabled]="passwordForm.invalid">Reset</button>
    </div>
</form>
</div>